<!-- se llama a los archivos de ./partials/tasks/-->
<div class="container">
    <div class="row"></div>
        <div class="col-md-5">
            {{> tasks/taskForm }}
        </div>
        <br>
        <div class="col-md-7">
            {{> tasks/taskTable }}
        </div>
    </div>
</div>